.month-header {
  width: 100%;
  /* padding: 28px 24px 0; */
}

.month-header__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.month-header__button {
  width: 36px;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.month-header__button img {
  width: 36px;
  height: 36px;
}

.month-header__title {
  font-size: 24px;
  font-weight: 400;
  color: var(--primary-color);
  margin: 0;
  line-height: 1;
}